
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
    <link href="~/Content/ErrorPagesStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>403</h1>
    <div>
        <h2>Access is Denied</h2>
        <p>شما مجوز دسترسی به این صفحه را ندارید<p>
    </div>
</body>
</html>
