
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BadRequest</title>
    <link href="~/Content/ErrorPagesStyle.css" rel="stylesheet" />
</head>
<body>
    <h1>400</h1>
    <div>
        <h2>Bad Request</h2>
        <p>خطایی رخ داده است<p>
    </div>
</body>
</html>
