@model  Council.Core.Models.HomePageViewModel
@using Council.Core
@using Microsoft.AspNet.Identity;
@using Council.UI.CustomAuthentication;
@{
    CustomPrincipal _User = (CustomPrincipal)HttpContext.Current.User;
    string UserID = _User.UserId;
 }

@*<h4 class="card-title">کارتابل من</h4>*@
<div class="table-responsive">
    @Html.Action("GetNewOutLetters")
   
</div>
@*<div id="ExtraLetters" class="row text-center">
    <div class="col-lg-9 comm"><span> نمایش <span id="AnyLetterSpan"></span> از <span id="AllLetterSpan"></span></span></div>
    <div class="col-lg-3 comm-left">
        <span id="SpanAllLettersLink"><a id="MoreLetters" href="#">اطلاعات بیشتر</a> / <a id="AllLettersLink" href="#">نمایش همه</a></span>
    </div>
</div>
<script>
    if ($("tbody.NewLettersUl tr").length == 0) {
        $("#ExtraLetters").hide();
        $("tbody.NewLettersUl").parent().parent().parent().hide()
        //$("tbody.NewLettersUl").parent().parent().hide();
    } else {
        if (Number($("#AllLettersCount").val()) <= 50)
            $("#SpanAllLettersLink").hide();
        document.getElementById('AllLetterSpan').innerHTML = ' ' + $("#AllLettersCount").val();
        document.getElementById('AnyLetterSpan').innerHTML = ' ' + $("tbody.NewLettersUl tr").length;
    }
</script>*@
