<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Council.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendSMSSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://messagingws.negins.com/sendSMS.asmx" binding="basicHttpBinding" bindingConfiguration="SendSMSSoap" contract="CouncilSMS.SendSMSSoap" name="SendSMSSoap" />
        </client>
    </system.serviceModel>
    <applicationSettings>
        <Council.Service.Properties.Settings>
            <setting name="Council_Service_com_negins_messagingws_SendSMS" serializeAs="String">
                <value>http://messagingws.negins.com/sendSMS.asmx</value>
            </setting>
            <setting name="Council_Service_SMSService_services_sms" serializeAs="String">
                <value>https://dev.homais.com/services/sms/index.asmx</value>
            </setting>
        </Council.Service.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>